<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joystick" default="true" />

  <group ns="joy_teleop">

    <rosparam command="load" file="$(find r1_control)/config/teleop.yaml" />

    <node pkg="joy" type="joy_node" name="joy_node">
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <node pkg="roboclaw_node" type="roboclaw_pyscript.py" name="roboclaw_node">
<!-- Not sure if the following is correct? Attempting to change value of roboclaw_node clone-->
      <param name="dev" value="$(/dev/ttyACM0)"/>
      <param name="baud" value="$(115200)"/>
      <param name="address" value="$(128)"/>
      <param name="max_abs_linear_speed" value="$(2)"/>
      <param name="max_abs_angular_speed" value="$(2)"/>
<!-- Wheels max acceleration m/s^2 -->
      <param name="acc_lim" value="$(2.0)"/>
<!-- 1120 ticks/rev ; 6.2 inch diam ; 0.494792 meters circumference -->
      <param name="ticks_per_meter" value="$(2263.6)"/>
      <param name="base_width" value="$(0.431)"/>
      <param name="run_diag" value="$(true)"/>
    </node>
    
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  </group>

</launch>
